/saved_models

/test_results

/heatmaps

/heatmaps/grad_cam

/heatmaps/grad_norm_sq 

/heatmaps/csvfiles

/vindr/

/chexphoto/

*/*/__pycache__/

*/*/*.pyc

*/*/*.pyo

*/*/*.pyd

*/*/~*

*/*/.DS_Store

*/*/.ipynb_checkpoints/

*/*/.vscode/

*/*/.idea
/wandb/

/results_folder/

